In [1]:
'''
Patrick Ballou
ID: 801130521
ECGR 4105
Homework 1
Problem 1
'''

'\nPatrick Ballou\nID: 801130521\nECGR 4105\nHomework 1\nProblem 1\n'

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [16]:
#create pandas dataframe and print first 5 rows
df = pd.read_csv("Housing.csv")
m = len(df)
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [ ]:
np.random.seed(0)
df_train, df_test = train_test_split(df, train_size=.8, test_size=.2